@import "fonst";
@import "consts";

//Commons Styles Start
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: $transition;
  outline: none;
  outline-offset: 0px;
}
body {
  font-family: 'Gilroy', sans-serif;
  font-size: 10px;
  font-weight: 400;
  background-color: $gray;
}
#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 105%;
  color: $black;
  margin: 5px 0px;
}
h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 105%;
  color: $black;
  margin: 5px 0px 8px 0px;
}
h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 105%;
  color: $black;
  margin: 0px 0px 5px 0px;
}
p {
  font-size: 1.4em;
  font-weight: 600;
  line-height: 125%;
  color: #61656c;
}
.description {
  font-weight: 500;
  font-size: 18px;
  line-height: 125%;
  color: $black;

  &--gray {
    color: $darkGray;
    font-weight: 500;
  }

  & a {
    color: $orange;
    text-decoration: none;

    &:hover {
      color: $darkOrange;
    }
  }
}
.mt {
  &-10 { margin-top: 10px }
  &-20 { margin-top: 20px }
  &-30 { margin-top: 30px }
}

.mb {
  &-10 { margin-bottom: 10px }
  &-20 { margin-bottom: 20px }
  &-30 { margin-bottom: 30px }
}
.orange {
  color: $orange;
}

//Commons Styles End


//Container & Wrapper Start
.app {
  height: 100%;
}
.container {
  width: 100%;
  margin: 0 auto;

  max-width: 600px;
  padding: 0px 30px;

  @media(max-width: 620px) {
    max-width: 100%;
    padding: 0px 10px;
  }

}
.wrapper {
  width: 560px;
  padding: 40px 40px;
  margin: 0 auto;

  background-color: $white;
  border-radius: 10px;
  box-shadow: 0px 12px 24px rgba(45, 73, 88, 0.15 );

  @media(max-width: 600px) {
    width: 100%;
    max-width: 100%;
    background-color: $white;
    border-radius: 0px;
    box-shadow: none;
    padding: 40px 20px;
  }
}
//Container & Wrapper End


//Footer Start
.footer {
  background-color: $white;
  padding: 40px 0px;
  margin-top: 120px;
  margin-bottom: 0;

  @media(max-width: 600px) {
    margin-top: 20px;
    background-color: transparent;
  }

  &__divider {
    height: 1px;
    width: 100%;
    background-color: #EFEFF1;
    margin: 10px 0px;
  }

  &__menu {
    display: flex;
    align-items: center;
    column-gap: 30px;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin: 30px 0px;

    @media (max-width: 425px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      grid-row-gap: 8px;
    }

    & a {
      text-decoration: none;
      font-size: 1.8em;
      font-weight: 600;
      line-height: 105%;
      color: $black;
      transition: $transition;

      &:hover {
        color: $darkGray;
      }
    }
  }

  &__link a {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    color: $darkGray;
    font-size: 1.6em;
    font-weight: 400;
    line-height: 105%;
    text-decoration: none;
    transition: $transition;

    &:hover {
      color: $orange;
    }
  }
  &__logo a {
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 105%;
    color: $black;
    text-decoration: none;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  &__copyright {
    display: block;
    width: 100%;
    color: $darkGray;
    font-size: 1.4em;
    line-height: 105%;
  }
}
//Footer End


//Header Start
.header {
  padding: 30px 0px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;

    @media(max-width: 600px) {

    }
  }
}
//Header End

//Buttons Start
.btn {
  transition: $transition;
  display: flex;
  padding: 14px 12px;
  border-radius: 10px;
  border: 1px solid $gray;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: $black;
  text-decoration: none;

  &--outline {
    border: 0px;
    border-radius: 0px;
    font-size: 1.6em;
    font-weight: 500;
    line-height: 125%;
    color: $black;
    padding: 5px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2px;
    text-decoration: none;

    &--gray {
      color: $darkGray;

      &:hover {
        color: $black;
      }
    }

    &--orange {
      color: $orange;

      &:hover {
        color: $darkOrange;
      }
    }
  }

  &--image {
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    column-gap: 10px;
  }

  &--white {
    background-color: $white;
    border: 1px solid #CED1D5;
    border-radius: 10px;
    padding: 14px 20px 14px 12px;
    transition: $transition;

    &:hover {
      border-color: $darkGray;
      background-color: rgba(250, 250, 250, 1);
    }
  }

  &--orange {
    background-color: $orange;
    border: 1px solid $orange;
    border-radius: 10px;
    padding: 14px 20px 14px 12px;
    transition: $transition;
    color: $white;
    column-gap: 5px;

    &:hover {
      background-color: $darkOrange;
      border-color: $darkOrange;
    }
  }

  &--disabled {
    pointer-events: none;
    opacity: .7;
  }
}
//Buttons End


//Checkbox Start
.checkbox {
  position: relative;
  margin-bottom: 10px;

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: $transition;

    & + label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      cursor: pointer;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 125%;
      color: $black;
      transition: $transition;
    }

    & + label::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #adb5bd;
      border-radius: 0.25em;
      margin-right: 8px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
      transition: $transition;
    }

    &:not(:disabled):not(:checked) + label:hover::before {
      border-color: rgba(241, 112, 74, 0.25);
    }

    &:not(:disabled):active + label::before {
      background-color: rgba(241, 112, 74, 0.25);
      border-color: rgba(241, 112, 74, 0.25);
    }

    &:focus + label::before {
      box-shadow: 0 0 0 0.2rem rgba(241, 112, 74, 0.25);
    }

    &:focus:not(:checked)+label::before {
      border-color: $orange;
    }

    &:checked+label::before {
      border-color: $orange;
      background-color: $orange;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }

    &:disabled+label::before {
      background-color: #e9ecef;
    }
  }

}
//Checkbox End

//Input Start
.input {
  position: relative;

  &__error {
    display: block;
    position: relative;
    color: $red;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 600;
  }

  & label {
    position: absolute;
    top: 14px;
    left: 14px;
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 125%;
    color: #878B90;
    pointer-events: none;
    font-family: 'Gilroy';
  }

  & input {
    font-family: 'Gilroy';
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 125%;
    color: $black;
    border: 0px;
    padding: 34px 14px 14px 14px;
    display: block;
    border-radius: 8px;
    border: 1px solid #CED1D5;
    transition: $transition;

    &:hover {
      border-color: #a1a6ab;
    }

    &:focus {
      border-color: $orange;
    }

    &::placeholder {
      color: #878B90;
      font-weight: 600;
      font-size: 16px;
      line-height: 125%;
    }

    &.error {
      border-color: $red;
    }
  }
}
//Input End

//Content Start
.content {
  &__code {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    @media(max-width: 600px) {
      flex-direction: column;
      grid-row-gap: 30px;
    }

    &-left {
      margin-top: 10px;
      @media(max-width: 600px) {
        order: 10;
      }
    }
    &-right {
      pointer-events: none;

      & img {
        user-select: none;
      }
    }
  }

  & .checkbox {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__links {
    margin-top: 20px;
    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      grid-row-gap: 5px;
      list-style: none;

      & a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        color: $orange;
        text-decoration: none;

        &:after {
          content: '';
          display: inline-block;
          width: 20px;
          height: 20px;

          background-image: url('../public/Chevron.svg');
          background-position: center center;
          background-size: contain;
          transition: $transition;
        }

        &:hover {
          color: $darkOrange;

          &::after {
            transform: translateX(2px);
          }
        }
      }
    }
  }

  &__footer {
    display: flex;

    flex-direction: column;
    align-items: center;

    &-divider {
      margin-top: 30px;
      margin-bottom: 30px;
      height: 1px;
      width: 100%;
      background-color: #CED1D5;
      display: flex;
      justify-content: center;
      align-items: center;

      & span {
        display: inline-block;
        padding: 10px 20px;
        background-color: $white;

        font-weight: 400;
        font-size: 18px;
        line-height: 125%;
        color: #878B90;
      }
    }
    
    @media (max-width: 600px) {
      & .content__footer-btns {
        width: 100%;
      }
    }
  }

  &__form {
    margin: 30px 0px;
  }

  &__push {
    margin: 30px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    @media(max-width: 600px) {
      flex-direction: column;
      grid-row-gap: 20px;
    }

    &-left {
      flex: 1 1 65%;
      @media(max-width: 600px) {
        order: 10;
      }

      & .description {
        margin-bottom: 20px;
      }
    }

    &-right {
      display: flex;
      flex: 1 1 35%;
      justify-content: flex-end;


    }

    &--logo {
      pointer-events: none;
      width: 82px;
      height: 82px;
      border-radius: 20px;
      border: 1px solid #CED1D5;

      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 600px) {
        background-color: $white;
      }
    }

    & .btn {
      margin-top: 20px;
    }
  }

  &__request {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    &-left {flex: 1 1 65%}
    &-right {
      flex: 1 1 35%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}
//Content End

//Loader Start
.loader {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  grid-row-gap: 20px;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
//Loader End

//Markets Start
.markets {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-row-gap: 5px;
  margin-top: 20px;

  @media(max-width: 600px) {
    flex-direction: column;
    align-items: stretch;
  }

  &--line {
    flex-direction: row;
    column-gap: 5px;
    margin-bottom: 20px;

    @media(max-width: 600px) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__item {
    min-width: 180px;

    @media(max-width: 600px) {
      background-color: $white;
    }

    &-image {
      position: relative;
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #F1704A;
        z-index: 2;
        mix-blend-mode: color;
        opacity: 0;
        transition: $transition;
      }


    }

    &:hover {
      & .markets__item-image::before {
        opacity: 1;
      }
    }
  }

  &__item a {
    width: 100%;
    padding: 12px 12px;
    border: 1px solid #CED1D5;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    column-gap: 8px;

    @media(max-width: 600px) {
      justify-content: center;
      padding-right: 30px;
    }

    & span {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 100%;
      color: #878B90;
      display: block;
      margin-bottom: 2px;
    }

    & h5 {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
      color: $black;
    }

    &:hover {
      border-color: $orange;

      & h5 {
        color: $orange;
      }
    }
  }
}
//Markets End

//List Start
.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 125%;
    color: #878B90;
  }

  & p {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 125%;
    color: $orange;
  }
}
//List End

//Notice Start
.notice {
  font-weight: 500;
  font-size: 14px;
  line-height: 125%;
  color: #878B90;
  max-width: 250px;
}
//Notice End

//Information Start
.information {
  & h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 125%;
    margin-bottom: 5px;
  }

  & p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #878B90;
  }
}
//Information End
